$colorname: "UnitCare Green";

$darkest: #253300;
$darker: #394d00;
$dark: #608000;
$mid: #86b300;
$midpale: #f2f4f0;
$pale: #f2f2f2;
$midpalepale: #DFE3DA;
$palepale: #E5E8E1;
$palepurple: #ace600;
$paler: #f2f2f2;
$darkgreen: #384d00;
$white: #FFFFFF;

@import "../color_base";
